* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e293b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 48rem;
    position: relative;
}

h1{
    font-size: 8rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.board {
    background-color: #1e293b;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.board-button{
    width: 15rem;
    height: 15rem;
    border: 4px solid #ababab;
    background-color: #6b6b6b;
    font-size: 13rem;
    font-weight: 900;
    color: white;
}
.board-button:disabled{
    background: white;
    color: white;
}
.board-button:hover{
    background: white;
    color: white;
}
  
/* add a border to the top row */
.board-button:first-child,
.board-button:nth-child(2),
.board-button:nth-child(3) {
border-top: 8px solid #ababab;
}

/* add a border to the bottom row */
.board-button:nth-last-child(3),
.board-button:nth-last-child(2),
.board-button:last-child {
border-bottom: 8px solid #ababab;
}

/* add a border to the left column */
.board-button:nth-child(1),
.board-button:nth-child(4),
.board-button:nth-child(7) {
border-left: 8px solid #ababab;
}

/* add a border to the right column */
.board-button:nth-child(3),
.board-button:nth-child(6),
.board-button:nth-child(9) {
border-right: 8px solid #ababab;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
}
.container button{
    background: #1e293b;
    color: white;
    border: 10px solid #ababab;
    border-radius: 20px;
    width: 25rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    margin-top:0.5rem ;
}
.container button:hover{
    background: white;
    color: #1e293b;
}
.announcement{
    position: absolute;
    top: 30rem;
    background-color: #ababab;
    font-size: 5rem;
    font-weight: 900;
    border-radius: 50px;
    padding: 4rem;
    text-align: center;
    border: 10px solid black;
    visibility: hidden;
}
  
  
  